body{
    margin:0;
    background: hsl(0, 0%, 17%);
    background-image: url('mustang.jpeg');

    overflow: hidden;
    text-align: center;
}
#Canvas{
    background: hsl(0, 0%, 73%);
    background-image: url('hadrami.jpg');

    



}